@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body {
  background-color: #FFB200;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  overflow-y: hidden;
}

img {
  width: 100%;
  vertical-align: top;
}

.lenguajes {
  display: flex;
  justify-content: center;
}

.flag {
  width: 30px;
  margin-left: 9px;
  cursor: pointer;
}

.map {
  position: relative;
  width: 90%;
}

.mapGot {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.houseStark {
  width: 6%;
  position: absolute;
  right: 45%;
  top: 77%;
}

.houseTargaryen {
  width: 4%;
  position: absolute;
  right: 13%;
  top: 170%;
}

.houseTully {
  width: 4%;
  position: absolute;
  right: 51%;
  top: 164%;
}

.houseTyrell {
  width: 4%;
  position: absolute;
  right: 72%;
  top: 207%;
}

.houseBaratheon {
  width: 7%;
  position: absolute;
  right: 30%;
  top: 204%;
}

.houseGreyjoy {
  width: 4%;
  position: absolute;
  right: 80%;
  top: 135%;
}

.houseLann {
  width: 4%;
  position: absolute;
  right: 73%;
  top: 167%;
}

.lannImg,
.greyjoyImg,
.barathImg,
.tyrellImg,
.tullyImg,
.TargaryenImg,
.starkImg,
.nightKing,
.dragonImg {
  width: 100%;
  cursor: pointer;
}

.modalContainer {
  background-color: #2F2F2F;
  border: 1px solid #2C3539;
  width: 30%;
  align-items: center;
  text-align: center;
  padding: 2%;
  border-radius: 10px;
  margin: 10px auto;
  color: white;
  position: fixed;
  top: 30%;
  right: 35%;
}

.imgModal {
  width: 100px;
  margin: auto;
}

.imgModal img {
  align-items: center;
  text-align: center;
}

.btnModal button {
  background-color: #2f2f2f;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: white;
  margin-left: 95%;
  font-size: 20px;
}

.btnModal button:hover {
  color: #FFB200;
}

.boxNightKing {
  width: 119px;
  position: absolute;
  right: 66%;
  top: 19%;
  z-index: 2;
}

.nightKing {
  width: 100%;
}

.dragon {
  width: 13%;
  position: absolute;
  right: 20%;
  top: 157%;
  z-index: 2;
}

.dragonImg {
  width: 100%;
  animation: updown 8s linear infinite;
}

@keyframes updown {

  0% {
    transform: translateX(-20px);
  }

  50% {
    transform: translateX(150px);
  }

  100% {
    transform: translateX(-20px);
  }
}

@media (max-width: 768px) {
  .houseStark {
    width: 5%;
    right: 43%;
    top: 29%;
  }

  .houseTargaryen {
    width: 5%;
    right: 10%;
    top: 54%;
  }

  .container-fluid h1 {
    font-size: 2.5vh;
    text-align: center;
  }

  .flag {
    width: 2.3vh;
  }

  .boxNightKing {
    width: 6vh;
    top: 14%;
  }

  .houseLann {
    top: 54%;
    width: 3vh;
  }

  .houseTully {
    top: 52%;
    width: 3vh;
  }

  .houseGreyjoy {
    top: 44%;
    width: 4vh;
  }

  .houseTyrell {
    top: 64%;
    width: 3vh;
    left: 22%;
  }

  .houseBaratheon {
    top: 64%;
    width: 4vh;
    left: 65%;
  }

  .dragon {
    top: 52%;
    width: 6vh;
    right: 50%;
  }

  .modalContainer {
    width: 100%;
    right: 0;
  }

  .map {
    width: 100%;
  }

}

@media (min-width: 1200px) {
  .houseStark {
    width: 4%;
    right: 45%;
    top: 73%;
  }

  .houseTargaryen {
    width: 4%;
    right: 13%;
    top: 166%;
  }

  .houseTully {
    width: 3%;
    right: 50%;
    top: 165%;
  }

  .houseTyrell {
    width: 2.5%;
    right: 73%;
    top: 202%;
  }

  .houseBaratheon {
    width: 5%;
    right: 28%;
    top: 203%;
  }

  .houseGreyjoy {
    width: 3%;
    right: 79%;
    top: 134%;
  }

  .houseLann {
    width: 3%;
    right: 74%;
    top: 167%;
  }
}